.advanced-tablet-registered {
    display: flex;
    justify-content:  flex-start;
    color: $color-green;
}

.advanced-portal-upload {
    display: flex;
    justify-content:  flex-start;
    align-items:  center;
}