.check-portal-checking-container {
    display: flex; 
    justify-content: center;
    height: 100px;  
}

.check-portal-checking {  
    height:100%;
    display: flex !important; 
    align-items: center;
    justify-content: center;
}

.check-portal-checking-text {
    font-size: 25px; 
}

.check-portal-not-available {
    text-align: center; 
    margin-top: 100px; 
    
}