.scan-progress-mats-container {
    margin-top: 50px !important;
    text-align: center; 
  
 }
 
 .scan-progress-mats {
   color:  $color-green;
   font-size: 75px;
   text-decoration-line: underline;
 }
 
 .scan-progress-mats-found  {
     color:  $color-black;
     font-size: 25px;
 }
 