.scan-stop-summary {
  display: flex; 
  justify-content: space-between;
  align-items:  center;
  border: 1px solid $color-gray;
  border-radius: 5px; 
  padding: 10px; 
}

.scan-stop {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 400px;
}

.scan-stop-buttons-container {
   align-self: flex-end; 
   width: 100% !important;
}
 