.sync-download {
   padding: 10px; 
   border: 1px solid $color-gray;
   border-radius: 5px; 
   margin-left: 10px; 
   margin-right: 10px; 
   margin-bottom: 40px; 
}

.sync-upload {
    padding: 10px; 
    border: 1px solid $color-gray;
    border-radius: 5px; 
    margin-left: 10px; 
    margin-right: 10px;  
}

.sync-title {
    font-size: 25px;
    font-weight: 600;
}

.sync-scan-detail {
    margin-top: 10px; 
    display: flex;
    justify-content:  space-between;
}

.sync-active-link {
    background-color: $color-orange !important;
    color: white;
}

.sync-content {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    background: white;
    p {
      line-height: 150% !important;
    }
    min-height: 100% !important; 
  }

.sync-sidebar {
  margin-top: 10px;
  border-radius: 5px;
  .collection-item {
    cursor: pointer;
  }
}

.sync-upload-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
}