.sync-content {
    margin-top: 50px; 
    padding: 10px;
}

.sync-button-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 200px;
}

.sync-progress-container {
    display: flex; 
    justify-content: center;

}

.sync-progress {
    width: 400px; 
    border-radius: 5px; 
}
