.sync-download {
    height: 200px;
    display: flex; 
    align-items: center;  
}

.sync-upload {
    padding: 10px; 
    border: 1px solid $color-gray;
    border-radius: 5px; 
    margin-left: 10px; 
    margin-right: 10px;  
}

.sync-title {
    font-size: 25px;
    font-weight: 600;
}

.sync-scan-detail {
    margin-top: 10px; 
    display: flex;
    justify-content:  space-between;
}


.sync-upload-content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
}