$color-white: white;
$color-black: #000000;
$color-gray: #e0e0e0;
$color-silver: #c0c0c0;
$color-red: #d03027;
$color-blue: #325f8c;
$color-blue1: #009fe3;
$color-green: #00a98f;
$color-yellow: #ffcc2f;
$color-light-yellow: #ffffe0;
$color-light-orange: #f6efe5;
$color-light-gray: #f5f7fa;
$color-deep-gray: #7b8994;
$color-dark-gray: #546e7a;
$color-orange: #f58426;
$color-orange1: #fd9902;
$color-whitesmoke: #f5f5f5;

.bg-color-white {
  background-color: $color-white !important;
}

.bg-color-whitesmoke {
  background-color: $color-whitesmoke !important;
}

.bg-color-light-gray {
  background-color: $color-light-gray !important;
}

.bg-color-gray {
  background-color: $color-gray !important;
}

.bg-color-white {
  background-color: $color-white !important;
}

.bg-color-orange {
  background-color: $color-orange !important;
}

.bg-color-yellow {
  background-color: $color-yellow !important;
}

.bg-color-blue {
  background-color: $color-blue !important;
}

.color-green {
  color: $color-green !important;
}

.color-light-gray {
  color: $color-red !important;
}

.color-red {
  color: $color-red !important;
}


.color-black {
  color: $color-black !important;
}

.color-orange {
  color: $color-orange !important;
}

.color-gray {
  color: $color-gray !important;
}

.color-blue {
  color: $color-blue !important;
}

.color-silver {
  color: $color-silver !important;
}

.color-light-gray {
  color: $color-light-gray !important;
}

.color-deep-gray {
  color: $color-deep-gray !important;
}

.color-white {
  color: $color-white !important;
}

.color-whitesmoke {
  color: $color-whitesmoke !important;
}

.color-black {
  color: $color-black !important;
}

.color-white {
  color: $color-white !important;
}

.color-gray {
  color: $color-gray !important;
}
