.display-block {
  display: block !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-none {
  display: none !important;
}

.display-table {
  display: table !important;
}

.display-table-cell {
  display: table-cell !important;
}
