.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-60 {
  padding-left: 60px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}
.padding-top-80 {
  padding-top: 80px;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}
