.width-20 {
  width: 20px !important;
}

.width-40 {
  width: 40px !important;
}

.width-50 {
  width: 50px !important;
}

.width-70 {
  width: 70px !important;
}

.width-80 {
  width: 80px !important;
}

.width-100 {
  width: 100px !important;
}

.width-120 {
  width: 120px !important;
}

.width-130 {
  width: 130px !important;
}

.width-150 {
  width: 150px !important;
}

.width-200 {
  width: 200px !important;
}

.width-250 {
  width: 250px !important;
}

.width-100-100 {
  width: 100% !important;
}

.width-50-100 {
  width: 50% !important;
}

.width-60-100 {
  width: 60% !important;
}

.width-80-100 {
  width: 80% !important;
}

.width-90-100 {
  width: 90% !important;
}

.max-width-70 {
  max-width: 70px;
}

.max-width-100 {
  max-width: 100px;
}

.max-width-150 {
  max-width: 150px;
}

.max-width-200 {
  max-width: 200px;
}
