.sidebar {
  margin-top: 10px;
  
  .collection-item {
    background-color: $color-whitesmoke !important;
    color:  $color-gray * 0.8 !important; 
    cursor: pointer;
  }
  .active-link {
    background-color: $color-white !important;
    color: $color-orange !important;
    border-radius: 0px; 
     
  }
}

.sidebar-content {
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    background: $color-white;
   
    p {
      line-height: 150% !important;
    }
    min-height: 100% !important; 
  }
